body{

}

#calendar1, #calendar2{
  padding:5px;
  width:200px;
  height:205px;
}

table{
  border: 1px solid #000;
  border-collapse: collapse;
  /*border-radius: 10px;*/
  text-align: center;
}

td, th{
  width: 20px;
  padding: 3px;
}

table tbody td, table tbody th{
  border: 1px solid #000;
}

table tbody th{
  background-color: #ff9933;
  color: #f2f2f2;
}


table td:hover{
  background-color: #ff9933;
  color: #f2f2f2;
  cursor: pointer;
}
